@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagerApp.Application.ViewModels.NoteViewModel

<div class="container" id="details">
    <h2>Заметка</h2>
    <p>
        <a href="/Note/Edit/@Model.Note.Id" class="btn btn-primary">Редактировать</a>
        <a href="/Note/Delete/@Model.Note.Id" class="btn btn-danger">Удалить</a>
    </p>
    <dl>
        <dt><label>Заголовок:</label></dt>
        <dd>
            @Model.Note.Title
        </dd>

        @if (Model.Note.Description != null)
        {
            <dt><label>Описание:</label></dt>
            <dd>
                @Model.Note.Description
            </dd>
        }

        <dt><label>Приоритет:</label></dt>
        <dd>
            @Model.Note.Priority
        </dd>

        <dt><label>Дата создания:</label></dt>
        <dd>
            @Model.Note.DateCreation
        </dd>

        @if (Model.Note.DateEdition != null)
        {
            <dt><label>Последнее изменение:</label></dt>
            <dd>
                @Model.Note.DateEdition
            </dd>
        }
    </dl>
</div>