@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagerApp.MVC.Models.IndexViewModel

<div class="container body-content" id="index">
    <form asp-controller="Note" asp-action="Index" method="get" class="form form-inline">
        <label class="text-sm-left">Поиск по заголовкам:</label>
        <input type="text" value="@Model.FilterVM.TitleFilter" name="searchTitle" class="text-body input-group-sm" style="margin: 0 5px 0 5px" />

        <label class="text-sm-left">Поиск по описаниям:</label>
        <input type="text" value="@Model.FilterVM.DescriptionFilter" name="searchDescription" class="text-body input-group-sm" style="margin: 0 5px 0 5px" />

        <input type="submit" value="Поиск" class="btn-sm btn-outline-secondary" />
    </form><br />

    <form asp-controller="Note" asp-action="Index" method="get" class="form form-inline">
        <label class="text-sm-left">Поиск по заголовкам и описаниям:</label>
        <input type="text" value="@Model.FilterVM.TitleAndDescriptionFilter" name="searchTitleAndDescription" class="text-body input-group-sm" style="margin: 0 5px 0 5px" />

        <input type="submit" value="Поиск" class="btn btn-sm btn-outline-secondary" />
    </form><br />

    <a class="container add-note-container" asp-controller="Note" asp-action="Create">
        <div class="add-note-body">
            <p class="add-note-text">+ Новая заметка</p>
        </div>
    </a>
    <table id="notes" class="table notes-table row-clickable">
        <thead>
            <tr>
                <th><a asp-action="Index" asp-route-orderColumn="@Model.SortVM.OrderColumn" style="color:blue">Приоритет</a></th>
                <th><a>Заметка</a></th>
                <th><a>Описание</a></th>
                <th><a>Дата Создания</a></th>
                <th><a>Дата изменения</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model.Notes)
            {
                <tr row-hover>
                    <td><a href="/Note/Details/@note.Note.Id">@note.Note.Priority</a></td>
                    <td><a href="/Note/Details/@note.Note.Id">@note.Note.Title</a></td>
                    <td><a href="/Note/Details/@note.Note.Id">@note.Note.Description</a></td>
                    <td><a href="/Note/Details/@note.Note.Id">@note.Note.DateCreation</a></td>
                    <td><a href="/Note/Details/@note.Note.Id">@note.Note.DateEdition</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>